.choose-gift button{
    width: 207px;
    height: 44px;
}

.custom-banner{
    position: relative;
}

.custom-banner-bottom-image-wrapper{
    margin-top: 12px;
}

.custom-banner-top-image-wrapper img{
    width: 100%;
    height: auto;
}


.custom-banner-bottom-image-wrapper img{
    height: 264px;
    object-fit: cover;
    width: 100%;
}

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}

.custom-banner-header{
    font-family: Jost;
    font-size: 30px;
    font-weight: 500;
    color:#000000;
    margin-top: 49px;
    line-height: 30px;
}

.custom-banner-description{
    font-family: Jost;
    text-align: center;
    color: black;    
    margin-top: 33px;
}

.custom-banner-description p{
    max-width:  340px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.custom-banner-button{
    width:193pxpx;
    height: 45pxpx;
    top: 337px;
    left: 90.78px;
    padding: 13px 20px 13px 20px;
    gap: 10px;
    opacity: 0px;
    
}

.custom-banner-button-label{
    font-family: Jost;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.48px;
    text-align: center; 
}

.align-items-center{
    align-items: center;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}
.g-5{
    gap: 5px;
}

.g-10{
    gap: 10px;
}

.g-15{
    gap: 15px;
}

.g-20{
    gap:20px;
}

.text-center{
    text-align: center;
}


.custom-banner-button-wrapper{
    position: absolute;
    bottom: 55px;
    width: 100%;
}

.custom-banner-button-wrapper button{
    width:193px!important;
    height: 45px!important;
    padding: 13px 20px 13px 20px !important;
}

.custom-banner-bottom-text-wrapper{
    background: #F5F5F5;
    font-family: Jost;
    height: 34px;
    margin-top: -7px;
}
.custom-banner-bottom-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 13.42px;
    text-align: center;
}

.d-grid {
    display: grid;    
}

.col-6{
    grid-template-columns: repeat(2, 1fr); /* Two columns */
}
  

/* custom featured products */

.custom-featured-products .product-image-wrapper {
    position: relative;
}

.custom-featured-products .product-image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover; /* Ensures the image fills the container without distortion */
}

.custom-featured-products  .popover-wrapper{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    cursor:pointer;
}


.custom-container{
    width: 90%;
    margin: 0 auto;
}

.custom-featured-products .featured-product-card{
    position: relative;
}

.featured-products-heading{
    font-family: Lustria;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
}

.mt-15{
    margin-top: 15px;
}

.mt-30{
    margin-top: 30px;
}

.mt-20{
    margin-top: 20px;
}

.mt-5{
    margin-top: 5px!important;
}

.float-right{
    text-align: right;
}

.product-popover{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    display: none;
    max-width: 311px;
    transform: translate(-50%, -50%);
    background-color: white!important;
    z-index: 999;
    box-shadow: 0px 2px 4px 0px #00000033;
    padding: 15px;
}

.modal-background{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8)    ;
}

.modal-open .modal-background{
    display: block;
}

.product-popover .product-title {
    font-family: Jost;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.2px;
    text-align: left;    
}

.product-popover .product-price{
    font-family: Lustria;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;    
}

.product-popover .product-description{
    font-family: Jost;
    font-size: 12px;
    font-weight: 300;
    line-height: 13.2px;
    letter-spacing: -0.01em;
    text-align: left;
    font-family: Jost;
}
.product-popover .product-description p{
    margin-top: 0px;
    margin-bottom: 0px;
}


.product-popover .image-wrapper img{
    width: 140px;
    height: auto;
}


.values-wrapper{
    position: relative;
}

.moving-indicator{
    position: absolute;
    background-color: black;
    height: 100%;
    display: none;
    z-index: 1;
    transition: left 0.5s ease; /* Animation for the left property */
}

.radio-input-hidden{
    position: absolute;
    opacity: 0;
    pointer-events: none; /* Prevents interaction with the input */
}

.radio-input:checked ~ label {
    color: white; /* Example style for when the radio button is checked */
}

.option-indicator{
    width: 5.81px;
    height: 100%;
    border-right: 0.5px solid black;
    z-index: 2;
}

.value-wrapper{
    position: relative ;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    border-top: 0.5px solid black;
    border-bottom: 0.5px solid black;
    height: 40.44px;
    border-right: 0.5px solid black;
}

.value-wrapper label{
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100%;
    z-index: 2;
    cursor: pointer;
}

.product-option-name{
    font-family: Jost;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;
}

.product-size-selector{
    height: 40.44px;
    width: 100%;
    border: 0.5px solid black;
}

 /* Hide the default arrow on the select */
 .product-size-selector {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
    padding-left: 15px;
  }

  .product-size-selector:focus-visible{
    box-shadow: none;
    outline: none;
  }

  /* Positioning for the icon */
  .select-box-wrapper {
    position: relative;
  }

  .select-box-icon-wrapper {
    position: absolute;
    height: 100%;
    border-left: 0.5px solid black;
    pointer-events: none; /* Make icon non-interactive */
    right: 20px;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }

  /* Icon rotation with transition */
  .select-box-icon-wrapper svg {
    transition: transform 0.3s ease; /* Smooth transition effect */
  }

  /* Rotate the icon 180 degrees on focus */
  .select-box-icon-wrapper.active svg {
    transform: rotate(180deg);
  }

  select option:hover {
    background-color: black; /* Change to a slightly lighter color when hovering */
    color: white;
}

.product-title-price-desc{
    flex-direction: column;
}

.add-to-cart-btn{
    width: 100%;
}



.product-popver-close-icon{
    cursor: pointer;
}

/* end of  custom featured products */




/* animate button */ 

.button-animated-primary{
    color: white;
    background-color: black;
}

.button-animated-secondary{
    background-color: yellow;
    color:black!important;
    fill: black!important;
    stroke: black!important;
}

.button-animated {
    position: relative;
    padding: 15px 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    font-size: 16px;
    border: none;
    cursor: pointer;
    overflow: hidden; /* Hide overflow for ripple effect */
    outline: none;
    z-index: 1; /* Ensure the button is above the ripple */
}



.button-animated-primary:hover{
    color:black!important;
    fill: black!important;
    stroke: black!important;
}
.button-animated-secondary:hover{
    color:white!important;
    fill: white!important;
    stroke: white!important;
}

.button-animated-primary::after{
    background-color: yellow; /* Ripple color */
}
.button-animated-secondary::after{
    background-color: black; /* Ripple color */
}

.button-animated::after {
    content: ''!important;
    position: absolute!important;
    top: 0;
    left: 0;
    z-index: -1; /* Ripple should be below the button text */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    transform: translateX(-200%); /* Start from the left */
    transition: transform 0.5s ease; /* Transition for the ripple effect */
    pointer-events: none; /* Prevent pointer events on pseudo-element */
}

.button-animated:hover::after {
    transform: translateX(0); /* Move to the right on hover */
}

.button-animated:mouseleave::after {
    transform: translateX(-200%); /* Move back to the left on mouse leave */
}


/* end of animate button */


/* Responsive */

/* Tablet and desktop styling */
@media (min-width: 768px) {

    .mt-md-40{
        margin-top: 40px;
    }

    .g-md-20{
        gap: 20px;
    }
    
    .col-md-4{
        grid-template-columns: repeat(3, 1fr); /* Three columns */
    }
    
    .d-md-block{
        display: block;
    }
    .d-md-none{
        display: none;
    }
    .d-md-flex{
        display: flex;
    }
    .text-md-left{
        text-align: left;
    }

    .custom-banner-header{
        font-family: Jost;
        font-size: 50px;
        font-weight: 500;
        line-height: 70px;
        text-align: left;   
        margin-top: unset; 
    }
    
    .custom-banner-description{
        font-family: Jost;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        margin-top: unset;
    }

    .custom-banner-button-wrapper button{
        width: 220px;
        height: 50px;
    }

    .custom-banner-button-label{
        font-family: Jost;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.48px;
    }

    .custom-banner-info{
        padding-left: 67px;
    }

    .custom-banner-description p{
        max-width: 483px;
    }

    .custom-banner-bottom-image-wrapper{
        flex-grow: 1;
    }

    .custom-banner-bottom-image-wrapper img{
        height: 402px;
    }
    
    .custom-banner-bottom{
        align-items: center;
    }

    .custom-banner-info{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .custom-banner-bottom-image-wrapper{
        margin-top: unset;
    }
    
}

/* Tablet and desktop styling */
@media (min-width: 1337px) {
    .custom-container{
        width: 1337px;
    }
    .custom-banner-header{
        font-size: 70px;
    }
}    